<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1594082498477934</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1594082498477934</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>7ccf6f49f8da453a18e2ee53bf5dedf3</string>
	<key>FacebookDisplayName</key>
	<string>iCove</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>fb</string>
		<string>tiktok</string>
		<string>comgooglemaps</string>
		<string>tweetie</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>mqq</string>
		<string>itms-apps</string>
		<string>itms</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>FredokaOne-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
</dict>
</plist>
